:root {
    --green: #E4FFD7;
    --yellow: #FFFBD7;
    --red: #FFD7D7;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#headerSection {
    display: flex;
    padding-left: 10px;
}

#header {
    font-size: 50px;
    margin: none;
}

#projectSection {
    display: flex;
    padding-left: 10px;
    height: 75px;
    gap: 20px;
}

button.projectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    min-width: 170px;
    padding: 10px;
    border-width: 2px;
    border-radius: 7px;
    cursor: pointer;
}

button.selected {
    background-color: var(--green);
}

button.un {
    background-color: white;
}

button.projectButton:hover {
    transform: scale(1.1);
}

button.projectButton:active {
    transform: scale(1.2);
}

#projectButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 55px;
    min-width: 170px;
    padding: 10px;
    border-width: 2px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

#projectButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 51px;
    min-width: 170px;
    border-width: 2px;
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

.projectBorder {
    border: 2px solid black;
}

#projectName {
    height: 30px;
    width: 110px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
}

#projectButton:hover {
    transform: scale(1.1);
}

#projectButton:active {
    transform: scale(1.2);
}

#projectSection {
    pointer-events: auto;
    user-select: auto;
}

#addProject {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px, solid, black;
    padding: 2px;
    border-radius: 7px;
    cursor: pointer;
}

.fa-plus {
    font-size: 25px;
}

#taskSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    background-color: var(--green);
    padding: 10px;
    border: 2px solid black;
    border-radius: 7px;
    position: relative;
    min-width: 150px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 125px; 
    position: relative;
}

.taskOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}

.taskTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.taskTitle h2 {
    margin: 0;
}

.taskDescription {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.taskDescription p {
    margin: 0;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.taskDue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.taskDue p {
    font-weight: 700;
}

.taskDone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskDoneButton {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
    background-color: var(--green);
    width: 80%;
}

.taskDoneButton:hover {
    transform: scale(1.1);
}

.taskDoneButton:active {
    transform: scale(1.2);
}

.topTaskButtons {
    cursor: pointer;
    border: none;
    background-color: var(--green);
}

.topTaskButtons:hover {
    transform: scale(1.1);
}

.topTaskButtons:active {
    transform: scale(1.2);
}

#taskButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

#addTask {
    cursor: pointer;
    background-color: white;
    border-radius: 7px;
}

#addTask:hover {
    transform: scale(1.1);
}

#addTask:active {
    transform: scale(1.2);
}

.mediumUrgency {
    background-color: var(--yellow);
}

.highUrgency {
    background-color: var(--red);
}




.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1001;
    width: 600px;
    height: 400px;
}

.popup-project-form {
    display: none;
}

.card-form {
    padding: 10px;
}

#formDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 365px;
}

#closeFormButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.closeFormButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#closeFormButton button {
    border: none;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
}

#closeFormButton button:hover {
    transform: scale(1.1);
}

#closeFormButton button:active {
    transform: scale(1.2);
}

#formHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#formHeader h1 {
    font-size: 40px;
    margin: 0;
}

#formTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 500px;
}

#title {
    border: 1px solid black;
    border-radius: 7px;
    height: 60px;
    width: 500px;
    font-size: 30px;
    padding-left: 10px;
}

#formDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 500px;
}

#description {
    border: 1px solid black;
    border-radius: 7px;
    height: 60px;
    width: 500px;
    font-size: 30px;
    padding-left: 10px;
}

textarea {
    resize: none;
    vertical-align: middle;
    line-height: 60px;
}

#formDate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 500px;
}

#date {
    border: 1px solid black;
    border-radius: 7px;
    height: 60px;
    width: 500px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#formAddButton {
    border: 2px solid black;
    border-radius: 7px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

#formAddButton button {
    border: none;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
}

#formAddButton button:hover {
    transform: scale(1.1);
}

#formAddButton button:active {
    transform: scale(1.2);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.show {
    display: block;
}

.closeForm {
    background-color: white;
    font-size: 30px;
    border: none;
}

.container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.expandTitle {
    font-size: 24px;
}

.expandDescription {
    font-size: 24px;
    font-weight: bold;
}

.expandDate {
    font-size: 24px;
    font-weight: bold;
}

#closeDetails:hover {
    transform: scale(1.1);
}

#closeDetails:active {
    transform: scale(1.2);
}






